
@{
    ViewData["Title"] = "Index";
}
<h1>Calculator</h1>
<p>
 
 

    <form   method="post">
      Enter Postal Code:  <input id="PostalCode" name="PostalCode" type="text" value="" />
      Enter Income: <input id="Income" name="Income" type="text" value="" />
        <input type="submit" />
    </form>
</p>


